<div class="page-wrapper">
  <div class="grid">

    <div class="row">

      <div class="col-xs-12">
        <div class="page-title">
          <h3>Listes de valeurs</h3>
          <div class="page-title-sub"></div>
        </div>
      </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="card full-height">
          <div class="card-title">Liste</div>
          <div class="card-content">
            <div class="list-container">
              <div class="list-group h-75 d-inline-block">
                <% @stocks.each do |stock| %>
                  <%= link_to "#{stock.name}", stocks_path(id: "#{stock.id}"), class: "list-group-item list-group-item-action" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="card">
            <div class="card-title">Valeur</div>
            <div class="card-content">
              <div class="row">
                <div class="list-custom-item">
                  <div class="col-xs-12">
                    <% if @stock.nil? %>
                      <p>Pas de valeur selectionnée</p>
                    <% else %>
                      <div style="font-weight: bold"><%= @stock.name %></div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="list-custom-item">
                  <div class="col-xs-2">
                    <p>Sell</p>
                  </div>
                  <div class="col-xs-10 list-custom-inline">
                    <%  @stock.sell_profiles.each do |profile| %>
                      <div class="avatar-initials"><%= profile.initials %></div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="list-custom-item">
                  <div class="col-xs-2">
                    <p>Neutral</p>
                  </div>
                  <div class="col-xs-10 list-custom-inline">
                    <%  @stock.neutral_profiles.each do |profile| %>
                      <div class="avatar-initials"><%= profile.initials %></div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="list-custom-item">
                  <div class="col-xs-2">
                    <p>Buy</p>
                  </div>
                  <div class="col-xs-10 list-custom-inline">
                    <%  @stock.buy_profiles.each do |profile| %>
                      <div class="avatar-initials"><%= profile.initials %></div>
                    <% end %>
                  </div>
                </div>
              </div>

              <div>
                 <%= render "stock_ratings/new", stock: @stock, stock_rating: @stock_rating_new %>
              </div>
            </div>
        </div>
      </div>
    </div>


  </div>
</div>
